/* ----------------Preset------------------ */

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background-color: white;
}
.container{
    margin: 0 auto;
    max-width: 960px;
    width: 96%;
    float: center;
}
img{
    max-width: 100%;
    height: auto;
}

/* ----------------Preset ends------------------ */

/* ----------------Header starts------------------ */

.header-area{
    width: 100%;
    clear: both;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}
.top-header{
    background-color:#ba2e1f ;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: center;
}
.mini-bar{

}
.mini-bar ul{
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
}
.mini-bar ul li{
    text-decoration: none;
    color: white;
    margin-right: 18px;
    position: relative;
}
.mini-bar ul li::after{
    content: "";
    background-color: white;
    position: absolute;
    height: 14px;
    width: 1px;
    top: 5px;
    right: -9px;
}
.mini-bar ul li:last-child::after{
    display: none;
}
.mini-bar ul li a{
    list-style: none;
text-decoration: none;
color: white;
}
.input-bar{
    margin: 0;
    float: left;
    position: relative;
}
.input-bar input{
    max-width: 300px;
border: none;
background-color: white;
color: black;
border-radius: 22px;
padding-left: 11px;
padding-right: 27px;
box-sizing: border-box;
}
.input-bar button{  
    border: none;
    background-color: #ba2e1f;
}
.input-bar button svg{
    height: 23px;
    position: absolute;
    right: 0;
    top: 0;
}

/* ----------------Header starts------------------ */

.main-header{
    min-height: 130px;

}
.main-header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.main-header-logo{
    width: 60%;

}
.main-header-logo{

}
.main-header-logo img{
    margin-top: 31px;
}
.main-header-icons{
    width: 30%;
}
.main-header-icons ul{
    margin: 5px;
    padding: 13px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.main-header-icons ul li a {
    text-decoration: none;
    color: black;
}
.main-header-icons ul li a i{
    font-size: 28px;
}

/* ----------------Header ends------------------ */

/* ----------------Navigation bar starts------------------ */

.navigation-area{

}
.nav-bar{
    background-color:#2B2B2B;
    min-height: 40px;
    position: relative;
    z-index: 1;
}
.nav-bar::after{
    content: "";
    background-color: #333333;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.nav-bar nav{
    min-height: 40px;
    width: 100%;
    text-align: center;
}

.nav-bar nav ul{
    list-style: none;
display: flex;
justify-content: space-between;
text-decoration: none;
width: 100%;
margin-left: -19px;
}
.nav-bar nav ul li{
    margin-top: 8px;
    position: relative;
    
}
.nav-bar nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.nav-bar nav ul li a:hover
{
    color: #ba2e1f;
}
.nav-bar nav ul li:hover a{
    color: #ba2e1f;
}
.nav-bar nav ul li:hover ul li a{
    color:white;
}
.nav-bar nav ul li ul li:hover {
    background-color: white;
    color: black;
}
.nav-bar nav ul li ul li:hover a{
    background-color: white;
    color: black;
}
.nav-bar nav ul ul{
    min-height: 107px;
width: 105px;
position: absolute;
background-color: #2B2B2B;
top: 20px;
left: -99999px;
display: block;
padding-right: -18px;
padding-left: 2px;

}
#dropdown:hover #dropdown-menu{
    left: 10px;
}